<!DOCTYPE html>
<form method="POST">
  <div class="container">
    <label for="dname"><b>Enter Device Name</b></label><br>
    <input type="text" id="fname" name="fname" value="Enter Netowrk Device Name"><br><br>
    <label for="freeform"><b>Enter Configuration, Which Needs Validation:</b></label><br>
      <textarea id="freeform" name="freeform" rows="20" cols="100" style="text-align:left; overflow:auto; border:1px outset #000000;">
        Enter configurations/CLIs here...
      </textarea><br><br>
    <input type="submit" value="Submit">
</form>