<!DOCTYPE html>
<html>
<body>
<h1>Cloud Vision Day-2 Task</h1>
<form method="POST">
  <p>Please select the operation:</p>
  <input type="radio" id="validateConfig" name="operations" value="Validate Configuration">
  <label for="validateConfig"><b>Validate Configuration</b></label><br><br>
  <input type="radio" id="configlet" name="operations" value="Configure Configlet">
  <label for="configlet"><b>Configure Configlet</b></label><br><br>
  <button type="submit"><b>Submit</b></button><br>  
</form>
</body>
</html>