<!DOCTYPE html>
<form method="POST">
  <div class="container">
    <label for="dname"><b>Enter Device Name</b></label><br>
    <input type="text" placeholder="Enter Device Name, where Config Needs to be validated" name="dname" size="97" required><br><br>
    <label for="freeform"><b>Enter Configuration, Which Needs Validation: </b></label><br>
      <textarea id="freeform" name="configuration" rows="20" cols="100" style="text-align:left; overflow:auto; border:1px outset #000000;">
     
      </textarea><br><br>
    <input type="submit" value="Submit">
</form>
